# system section
.vscode/*
.ref/*
.cache/*
.xmake/*
build/*
xbuild/*

# in-dev section
module/*
data/*
python/utils/*

# private section
.clangd
.clang-format
.clang-format-llvm
TODO.md 
configure.sh
tokei.sh