# system section
.vscode/*
.ref/*
.cache/*
.xmake/*
build/*
xbuild/*
docs/LatexmkFiles/*
docs/build/*
docs/Makefile

# in-dev section
module/*
data/*
external/gnsstk/*
external/matplotplusplus/*
python/utils/*

# private section
scripts/*
.clangd
.clang-format
.clang-format-llvm
.Rhistory
TODO.md 
Makefile