# system section
.vscode/*
.ref/*
.cache/*
.xmake/*
build/*
xbuild/*
docs/LatexmkFiles/*
docs/build/*
docs/Makefile

# in-dev section
module/*
data/*
external/*
python/utils/*

# private section
.clangd
.clang-format
.clang-format-llvm
TODO.md 
configure.sh
tokei.sh